:root {
    /* Typography */
    --bodyFontSize: 18px;
    --fontFamily: 'Rajdhani', sans-serif;
    --lineHeight: 1.3;
    --bodyFontWeight: 700;

    /* Color Schema */
    --blue1: #4c96d7;
    --blue2: #a6cbeb;
    --gray1: #3a3a3a;
    --gray2: #8d8d8d;
    --gray3: #bababa;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: var(--lineHeight);
    font-family: var(--fontFamily);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
}

header, main, footer {
    margin: 0 auto;
}

a.acc {
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--gray1);
    font-size: 1.3rem;
}

a.acc:hover {
    color: var(--gray2);
}

.log-out {
    text-decoration: none;
    color: var(--gray1);
}

.log-out:hover {
    color: var(--gray2);
}

img#logo {
    width: 11rem;
}

#cookie {
    font-size: 1rem;
    margin-left: 5rem;
}

.accWrap {
    margin-right: .5rem;
}

div#headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.contentTitle {
    margin-left: 1.3rem;
    color: var(--gray1);
}

.serverMsg {
    padding: 1rem;
}

.serverTitle {
    padding: .7rem 1rem 0rem;
}
/* Hamburger button  */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-left: auto;
    right: 3%;
}

.burger input, .menuBtn {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--blue2);
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.hamBtnWrap {
    background-color: var(--gray1);
    padding-top: .9rem;
    height: 3.7rem;
    width: 99%;
    margin: 0 auto;
    border-bottom: 1px solid var(--gray3);
}

nav ul {
    list-style: none;
    background: var(--gray1);
}

nav ul li {
    padding: 1.5rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--gray3);
}

nav ul a {
    text-decoration: none;
    color: var(--white);
    padding: .7rem;
}

nav ul li:hover {
    background: var(--blue1);
}

nav ul li a:hover {
    color: var(--gray1);
}

#primaryNav {
    display: none;
}

#primaryNav.open {
    width: 99%;
    margin: 0 auto;
    display: revert;
}

h1.contentTitle {
    padding: 2rem 0rem;
}

.welcomeMsg {
    padding: 1rem;
}

.descriptionTitle {
    color: var(--blue1);
    font-size: 1.7rem;
    font-weight: 900;
}

.description {
    padding: 0rem 1rem;
    color: var(--blue1);
    font-size: 1.3rem;
    font-weight: 900;
}

#heroImage {
    width: 100%;
    margin-top: -.3rem;
}

.ownToday {
    background: var(--blue1);
    color: var(--gray1);
    text-decoration: none;
    padding: .5rem;
    margin: 6rem;
    font-size: 1.5rem;
}

.ownToday:hover {
    color: var(--gray3);
}

.ownWrapper {
    padding: 1.3rem 0;
}

h2.reviews {
    padding: 1rem 1rem 0;
}

.reviewsList {
    margin: 0rem 1.5rem;
    font-size: 1rem;
}

.reviewsList li {
    padding: .7rem;
}

h2.upgrades {
    padding: 1rem;
}

.upgradeIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1.5rem;
}

.iconWrap {
    display: flex;
    justify-content: center;
    background: var(--blue1);
    width: 11rem;
}

#iconImg1 {
    width: 4rem;
}

#iconImg2 {
    width: 3.3rem;
}

#iconImg3 {
    width: 4.6rem;
}

#iconImg1, #iconImg2, #iconImg3, #iconImg4 {
    margin: .7rem;
}

a.flux {
    display: flex;
    justify-content: center;
    color: var(--gray1);
}

a.flux:hover {
    text-decoration: none;
}

footer {
    border-top: 3px solid var(--gray1);
    padding: 1rem;
}

footer p {
    text-align: center;
    font-size: .9rem;
    color: var(--gray1);
}

/* Registration Form styling */
h1.reg {
    text-align: center;
}

input:required:invalid, input:focus:invalid {
    background-image: url("/phpmotors/images/invalid.png");
    background-position: right;
    background-repeat: no-repeat;
}

input:required:valid {
    background-image: url("/phpmotors/images/valid.png");
    background-position: right;
    background-repeat: no-repeat;
}

form div label {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    width: 90%;
    margin: 0 auto;
}

.clientnames {
    font-size: 1.3rem;
    font-weight: 900;
}

form div label input {
    padding: .75rem;
    border-bottom: 3px solid var(--blue1);
    border-right: 3px solid var(--blue1);
    font-size: 1rem;
    border-radius: .9rem;
}

.passwordCharacters, .requiredField {
    padding: .7rem 0;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: center;
    background: var(--gray1);
    color: var(--white);
    font-weight: 900;
}

.regButton, .logInButton, .delButton {
    background-color: var(--blue2);
    padding: .75rem;
    border-radius: .7rem;
    width: 100%;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    cursor: pointer;
}

#regButton {
    padding: 2rem 0;
}

#logInButton {
    padding: 1rem 0;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.regButton:hover, .logInButton:hover {
    background-color: var(--blue1);
}

.delButton:hover {
    background-color: #ff0000;
    color: var(--blue2);
}

/* Login & Register forms styling */
.logIn {
    text-align: center;
    padding-top: 3rem;
}

.loginCheckBack, .registerCheckBack {
    margin-bottom: 2rem;
}

.registerNoAcc {
    text-align: center;
    padding-bottom: 2rem;
}

.loginFormWrap, .registerFormWrap {
    background-color: var(--blue2);
    width: 98%;
    margin: 0 auto;
    border-radius: 2rem;
    border: 2px solid var(--gray1)
}

.vManager, .add-main, .add-class {
    padding: 2rem 0;
}

/* Styling for the add vehicle and classification, 
Register and Login Message styling */
.selectionTab {
    padding: .75rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .77rem;
    width: 88%;
    border-radius: .9rem;
    font-size: 1.3rem;
    border-bottom: 3px solid var(--blue1);
    border-right: 3px solid var(--blue1);
}
.addVehicleFormWrap, .addClassFormWrap, .managementWrap {
    background-color: var(--blue2);
    width: 90%;
    margin: 0 auto;
    border-radius: 2rem;
    border: 2px solid var(--gray1)
}

h1.add-vehicle, h1.add-classification {
    text-align: center;
    padding: 2rem 0;
}

form label {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    width: 90%;
    margin: 0 auto;
}

form label input {
    padding: .75rem;
    border-bottom: 3px solid var(--blue1);
    border-right: 3px solid var(--blue1);
    font-size: 1rem;
    border-radius: .9rem;
}

.addVehicleandClass {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.addVehicleandClass a {
    color: var(--white);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background: var(--gray1);
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
}

.addVehicleandClass a:hover {
    background: var(--white);
    color: var(--gray1);
}

h1.vehicle-manager {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.7rem;
}

a.welcome {
    text-decoration: none;
    color: var(--gray1);
}

a.welcome:hover {
    color: var(--gray2);
}

.loggedin-wrap {
    margin-left: 2rem;
}

.log-in {
    padding: .5rem;
}

.credentials {
    margin-left: 3rem;
    padding: .5rem 0;
}

#show-password {
    height: 24px;
    width: 24px;
}

.show {
    flex-direction: row;
    gap: .3rem;
    padding-bottom: 1rem;
    align-items: end;
}

.sign {
    text-decoration: line-through;
    color: var(--gray1);
}

.sign:hover {
    text-decoration: none;
}

.fullname{
    padding: 0 .5rem 0;
}

.inv {
    padding: .5rem .5rem 0
}

.pipe {
    font-size: 1.7rem;
}

a.levelClientLink {
    color: var(--gray1);
    margin-left: .5rem;
    padding: .5rem 0 1rem;
    font-size: 1.7rem;
}

.levelClientLink:hover {
    text-decoration: none;
    color: var(--blue1);
}

.updateInv {
    padding: .5rem;
}

.adminMain {
    padding-bottom: 1rem;
}

.heading {
    padding: 1rem ;
}

.choose {
    font-size: 1.1rem;
}

#classificationList {
    padding: .75rem;
    margin-top: .7rem;
    font-size: 1.1rem;
}

.vName {
    text-align: left;
}

a.delete, .modify {
    color: var(--gray1);
    padding-left: 1.9rem;
}

a.modify:hover {
    text-decoration: none;
    color: #008000;
}

a.delete:hover {
    text-decoration: none;
    color: #ff0000;
}

td {
    padding: .7rem 0;
}

.enable-js {
    font-size: 1rem;
    padding: 1rem 0;
}

h1.update-vehicle {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

textarea {
    padding: .5rem .3rem;
    text-align: center;
}

#classificationId {
    padding: .75rem;
}

.note {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem 0;
    color: var(--gray1);
}

.confirm-del {
    font-size: 1rem;
    text-align: center;
    color: #ff0000;
    padding: 0 0 .9rem;
}

.del {
    color: #ff0000;
}

h2.reg {
    text-align: center;
    padding: 1rem;
}