@media only screen and (min-width: 64em) {
    :root {
       /* Typography */
       --bodyFontSize: 18px;
       --fontFamily: 'Rajdhani', sans-serif;
       --lineHeight: 1.3;
       --bodyFontWeight: 700;

       /* Color Schema */
       --blue1: #4c96d7;
       --blue2: #a6cbeb;
       --gray1: #3a3a3a;
       --gray2: #8d8d8d;
       --gray3: #bababa;
       --white: #fff;
    }

    body {
        background-image: url("../images/site/small_check.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    img#logo {
        width: 17rem;
    }

    div.container {
        width: 65%;
    }

    a.acc {
        font-size: 2rem;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    .reviewsList li {
        padding: .7rem;
    }

    ul.reviewsList {
        margin: 0 2rem;
        font-size: 1.3rem;
    }


    .iconWrap {
        width: 9rem;
        height: 5rem;
    }

    #iconImg1 {
        width: 3.7rem;
    }

    #iconImg2 {
        width: 2.5rem;
    }
    
    #iconImg3 {
        width: 4.5rem;
    }
    
    #iconImg1, #iconImg2, #iconImg3, #iconImg4 {
        margin: .7rem;
    }

    #iconImg3, #iconImg4 {
        width: 3rem;
    }

    a.flux {
        font-size: revert;
    }

    .upgradeIcons {
        margin: 0;
        align-items: center;
        gap: 1rem;
        padding-bottom: 0;
    }

    .contentTitle {
        font-size: 4rem;
    }

    .ownToday:hover {
        padding: .9rem;
    }

    footer {
        font-size: 1.3rem;
    }

    .reg {
        font-size: 4rem;
    }

    .passwordCharacters {
        padding: .9rem;
    }

    /* Log in form styling */

    /* Register Message styling */
    .note, .note1 {
        font-size: 2.1rem;
    }

    .show {
        margin-left: 7.7rem;
    }

    a.welcome, .log-out, .pipe {
        font-size: 2.3rem;
    }

    .heading {
        font-size: 1.9rem;
    }

    .enable-js {
        font-size: 1.5rem;
    }

    .fullname {
        font-size: 4rem;
    }
}